@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Mochiy+Pop+P+One&family=Oswald:wght@200&display=swap');
p,h4{
    font-family: 'Inconsolata', monospace;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Oswald', sans-serif; 
}
.footer{
  background-color: #4e4040;
  color:aliceblue ;  
 
}

.footer-logo{
    padding-top: 10px;
    height: 80px;
    width: 80px;
    margin-left: 110px;
    
}

.footer-contacts-heading,.footer-address{
    text-transform: uppercase;
}

ul{
    display: flex;
    padding-top: 15px;
   
}

ul li{
    list-style-type: none;
    margin-right: 10px;
    
   
}

ul li a{
    text-decoration: none;
    display: inline-flex;
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Oswald', sans-serif;
  
  
}


.footer-social-media{
    margin-right: 15px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
        .footer-address{
            display: none;
        }
      
        .footer-contacts p{
            padding-top: 8px;
            margin-left: 70px;
        }

        .footer-contacts-heading{
            display: none;
        }

        .footer-full-social-media{
            margin-left: 30px;
        }

        .footer-social-media ul{
            margin-left: 40px;
        }
}
    

 
@media screen and (max-width: 768px){
   
    .footer-address{
        display: none;
    }
   

     .footer-full-social-media{
         display: none;
     }


}

